{% extends "layout.html" %}
{% block body %}
<!-- <form id="geturl" name="rssurl" method="get">
  RSS URL
  <input type="text" name="url">
  <input type="submit" value="Submit">
</form> -->
http://beeple.tumblr.com/rss <br>
http://feeds.feedblitz.com/thedieline <br>
https://theimpossiblecool.tumblr.com/rss <br>
http://feeds.feedburner.com/LoadingArtist <br>
http://feeds.feedburner.com/Logopond <br>
http://www.geek-art.net/en/feed/ <br>
<div>
  <h3>Your Subscriptions</h3>
  {% for sub in subs %}
  <p>{{ sub.feed.url }} <a href=# class=sub data-id={{ sub.id }} >[remove]</a></p>
  {% endfor %}
</div>

RSS URL
<input type=text size=5 name=url>
<span id=result>?</span>
<a href=# id=addfeed>Get Images</a>
<div class="grid">
  <div class="grid-sizer"></div>
  {% for image in images %}
    <div class="grid-item" data-feedid={{ image.feed_id }} data-date={{ image.date }} >
      <a href={{ image.source }} >
        <img src={{ image.url }} />
      </a>
    </div>
  {% endfor %}
</div>

{% endblock %}
